Repository se-buw/fm-playground: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend-check, prettier-frontend-format, eslint-frontend, spotless-check

prettier-frontend-check:
  name: Prettier Check Frontend
  entry: npx --prefix frontend prettier --config frontend/.prettierrc --check
  language: system
  pass_filenames: true

prettier-frontend-format:
  name: Prettier Format Frontend
  entry: npx --prefix frontend prettier --config frontend/.prettierrc --write
  language: system
  pass_filenames: true

eslint-frontend:
  name: ESLint Frontend
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

spotless-check:
  name: Spotless Check
  entry: bash -c 'cd alloy-api && ./gradlew spotlessCheck'
  language: system
  pass_filenames: false

🎨added pre-commit for python
  .flake8
  .pre-commit-config.yaml
  python-setup.toml
Due: none

🎨ignore generated code from pre-commit
  .pre-commit-config.yaml
  frontend/.eslintrc.cjs
  frontend/.prettierignore
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend-check, prettier-frontend-format

♻️Changed repository from se-buw to fm4se
  README.md
  backend/README.md
  frontend/README.md
  frontend/src/ToolMaps.tsx
  frontend/src/components/Utils/Footer.tsx
  frontend/src/components/Utils/Nav.tsx
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

♻️Removed badges
  README.md
Due: none

♻️Moved alloy css to alloy tool dir
  frontend/tools/alloy/components/AlloyOutput.css
  frontend/tools/alloy/components/AlloyOutput.tsx
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

🔧updated vite config for local dev
  frontend/vite.config.ts
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

🔖v2.6.10
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
  limboole-api/pyproject.toml
  nuxmv-api/pyproject.toml
  spectra-api/pyproject.toml
  z3-api/pyproject.toml
Due: prettier-frontend-check, prettier-frontend-format

Temporarily disable flake8 for tag creation
  .pre-commit-config.yaml
Due: none

🔧Updated java version on gradle build
  alloy-api/build.gradle
Due: spotless-check

🔧Updated github action workflow
  .github/workflows/ci.yml
Due: none

🎨Updated the theme toggle style
  frontend/src/assets/style/Nav.css
  frontend/src/assets/style/Toggle.css
  frontend/src/components/Utils/Nav.tsx
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

🔊Updated relase notes structures for docs
  CHANGELOG.md
Due: none

📝Added initial documentations
  README.md
  docs/assets/img/fmp-dataflow-diagram.png
  docs/assets/img/fmp-tutorial.jpg
  docs/assets/img/logo_se.png
  docs/developer-guide/existing-project/index.md
  docs/developer-guide/existing-project/project-structure.md
  docs/developer-guide/index.md
  docs/developer-guide/start-from-scratch/index.md
  docs/developer-guide/start-from-scratch/project-structure.md
  docs/development/adding-tools.md
  docs/development/api-reference.md
  docs/development/deployment.md
  docs/index.md
  docs/overrides/index.html
  docs/requirements.txt
  mkdocs.yml
Due: none

💚Added github action ci for docs
  .github/workflows/docs.yml
Due: none

💚 Updated github action ci for docs
  .github/workflows/docs.yml
Due: none

🐛Fixed permalink not reset on spec upload #21
  frontend/src/components/Playground/InputArea.tsx
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

✨added a template for feature request
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

✨added a splitter between input and output area
  frontend/src/components/Playground/Playground.tsx
  frontend/src/components/Utils/ResizableSplitter.css
  frontend/src/components/Utils/ResizableSplitter.tsx
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

🎨formatted according to flake8
  .pre-commit-config.yaml
  backend/db/db_query.py
  backend/routes/authentication.py
  backend/routes/playground.py
  backend/utils/logging_utils.py
  limboole-api/main.py
  limboole-api/tests/conftest.py
  limboole-api/tests/test_limboole_execution.py
  nuxmv-api/nuxmv.py
  nuxmv-api/tests/conftest.py
  nuxmv-api/tests/test_nuxmv_execution.py
  spectra-api/spectra.py
  spectra-api/tests/conftest.py
  spectra-api/tests/test_routes.py
  z3-api/tests/conftest.py
  z3-api/tests/test_z3_execution.py
Due: none

🎨formatted with pre-commit
  backend/routes/playground.py
  frontend/src/assets/style/Toggle.css
  frontend/src/components/Playground/InputArea.tsx
  frontend/src/components/Utils/Nav.tsx
  frontend/src/components/Utils/ResizableSplitter.css
  frontend/src/components/Utils/ResizableSplitter.tsx
  limboole-api/main.py
  nuxmv-api/nuxmv.py
  nuxmv-api/tests/test_nuxmv_execution.py
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

🙈Updated gitignore keeping log dir
  .gitignore
  backend/.gitignore
  backend/logs/.gitkeep
Due: none

🔥Removed global env
  .env.example
Due: none

⚡️Z3 execution fallback to the server in case wasm takes a long time to load #16
  .env.example
  frontend/tools/smt/z3Executor.ts
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

🎨formatted
  frontend/tools/smt/z3Executor.ts
Due: prettier-frontend-check, prettier-frontend-format, eslint-frontend

🔖v2.6.12
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
  limboole-api/pyproject.toml
  nuxmv-api/pyproject.toml
  spectra-api/pyproject.toml
  z3-api/pyproject.toml
Due: prettier-frontend-check, prettier-frontend-format

Path conditions:
  prettier-frontend-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html|md)$, but not: ^frontend/(node_modules|dist)/.*
  prettier-frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html|md)$, but not: ^frontend/(node_modules|dist)/.*
  eslint-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/(node_modules|dist)/.*
  spotless-check: any of: ^alloy-api/.*\.(java|gradle)$
